/*
  ======================================
  1. Global
  2. Header
  3. Sidebar
  4. Main
  5. Comments
  6. Footer
  7. Responsive
  ======================================
*/

/*
  ======================================
  1. Global
  ======================================
*/

html,
body {
    margin: 0;
    color: #474747;
    background: #FFF;
    font-family: 'PT Serif', 'Georgia', serif;
    font-size: 16px;
}
a:hover {
    text-decoration: none;
}
h1,
h2,
h3 {
    font-family: 'Raleway Medium', sans-serif;
    color: #3F3F3F;
}
h1 {
    letter-spacing: 1px;
    font-size: 1.9em;
}
h2 {
    font-size: 1.6em;
}
h3 {
    font-size: 1.3em;
}
small {
    font-family: sans-serif;
}

/*
  ======================================
  2. Header
  ======================================
*/

.jumbotron {
    background: #FFF;
}
.jumbotron img{
    display:block;
    margin-left:auto;
    margin-right:auto;
}
.navbar {
    font-family: 'Raleway Medium', sans-serif;
    font-size: 1.3em;
    background: rgba(255,255,255,0.9); /* novo */
    padding: 0;
}
.custom-toggler.navbar-toggler {
    border: 2px solid #4b2761;
}
.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(75, 39, 97)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.navbar-toggler:hover {
    background: #e2dce5;
}
.navbar-toggler:focus {
    box-shadow: none !important;
    outline: none !important;
}
.navbar li {
    padding-right: 15px;
}
a.nav-link {
    color: #626161;
    text-align: center;
    display: inline-block; /* novo */
    text-decoration: none; /* novo */
    padding: .3rem 1rem;
}
a.nav-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #000;
    transition: width .25s;
}
a.nav-link:hover::after {
    width: 100%;
}
a.nav-link:hover {
    color: #000;
}
a.nav-link.active {
    color: #000;
}
.menu-item-has-children a.nav-link:focus,
.menu-item-has-children a.nav-link:active {
    color: #000;
}
#nav-icon {
    display: none;
    left: 50px;
}
/* .home-img {
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 60px;
    background-size: 40px;
} */
#menu-logo {
  display: none;
}
#menu-search {
    display: none;
    margin: 3px 0;
}
.menu-item-has-children:hover .dropdown-menu {
    display: block;
}
.dropdown-toggle::after {
    display: none;
    width: 0;
    height: 0;
    margin-left: 0;
    vertical-align: 0;
    content: "";
    border: 0;
}
.dropdown-menu {
    padding: 0;
    margin: 0;
    font-size: 1.1rem;
    color: #626161;
    background-clip: border-box;
    background: rgba(255,255,255,0.9);
    border: 0;
    border-radius: 0 0 5px 5px;
}
.dropdown-item {
    display: block;
    width: 100%;
    padding: 0 0 0.3rem 0.9rem;
    clear: both;
    font-weight: normal;
    color: #626161;
    text-align: inherit;
    white-space: nowrap;
    background: transparent;
    border: 0;
}
a.dropdown-item:hover,
a.dropdown-item.active {
    color: #000;
    background: transparent;
}

/*
  ======================================
  3. Sidebar
  ======================================
*/

#sidebar {
    margin: 10px 30px;
}
#sidebar img {
    max-width: 195px;
    height: auto;
}
.widget {
    margin-bottom: 35px;
}
p.widget-title {
    font-family: sans-serif;
    color: #6d6c6c;
    border-bottom: 1px dotted #D1D1D1;
}
.form-control {
    border: 1px solid #C6C6C6;
    border-radius: 20px;
    font-family: 'Raleway Medium', sans-serif;
}
.form-control:focus {
    border-color: #9D8AA9;
    box-shadow: none;
}
.btn {
    border-radius: 20px;
    background: #937da0;
    color: #FFF;
}
.btn:hover {
    background: #4b2761;
    transition: background 0.25s ease-in;
}
.btn:focus {
    box-shadow: none;
}
.btn:active {
    color: #000;
    background: #937da0;
}
.textwidget {
    color: #6d6c6c;
    font-size: 0.9em;
}
.sfsi_holders {
    height: 43px!important;
}
.widget_tag_cloud {
    overflow: hidden;
}
ul.wp-tag-cloud {
  	margin: 0;
  	padding: 0;
  	list-style:none;
}
.tagcloud ul li {
    float: left;
}
.tag-cloud-link {
    display: block;
    padding: 4px;
    margin: 0 7px 7px 0;
    font-family: 'Raleway Medium', sans-serif;
}
a.tag-cloud-link:link,
a.tag-cloud-link:visited {
  	background-color: #EEE;
  	color: #4b2761;
  	text-decoration: none;
    border-radius: 10px;
}
a.tag-cloud-link:hover {
    background-color: #937da0;
    color: #FFF;
}
a.tag-cloud-link:active {
    background-color: #beb1c6;
    color: #000;
}
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background: #937da0;
    color: #FFF;
    opacity: 0.8;
    cursor: pointer;
    padding: 15px;
    border-radius: 20px;
    font-size: 18px;
    font-family: 'Raleway Medium', sans-serif;
}
#myBtn:hover {
    background: #4b2761;
    transition: background 0.25s ease-in;
    cursor: pointer;
}
#myBtn:active {
    color: #000;
    background: #937da0;
}

/*
  ======================================
  4. Main
  ======================================
*/

main {
    margin: 10px 30px;
}
article a:link,
article a:visited {
    color: #474747;
    border-bottom: 1px solid #c6c6c6;
}
article small a:link,
article small a:visited {
    color: #6d6c6c;
    border-bottom: none;
}
.entry-header h1 a:link,
.entry-header h1 a:visited {
    border-bottom: none;
    color: #3F3F3F;
}
.entry-header h2 {
    font-weight: bold;
    font-family: sans-serif;
}
.entry-header h2 a:link,
.entry-header h2 a:visited {
    color: #937da0;
    border-bottom: none;
}
.far {
    color: #937da0;
}
.cover-img img {
    max-width: 100%;
    height: auto;
    margin: 10px 0;
}
.search-img img {
    max-width: 50%;
    height: auto;
    margin: 10px 0;
}
.content {
    padding: 0 0.3em;
}
.content h2,
.content h3,
.content h4 {
    font-family: 'Raleway Medium', sans-serif;
    color: #3F3F3F;
}
.content img {
    max-width: 95%;
    height: auto;
}
p.wp-caption-text {
    font-style: italic;
    font-size: 0.8em;
    font-family: sans-serif;
    padding-top: 5px;
}
.responsive-container {
  	position: relative;
  	padding-bottom: 56.25%; /* 16:9 */
  	padding-top: 0px;
  	height: 0;
  	overflow: hidden;
}
.responsive-container iframe,
.responsive-container object,
.responsive-container embed,
.responsive-container video {
  	position: absolute;
  	top: 0;
  	left: 0;
  	width: 95%;
  	height: 95%;
}
blockquote {
    font-style: italic;
    padding: 5px 20px;
    margin: 0;
}
a.more-link:link,
a.more-link:visited {
    color: #937da0;
    border-bottom: none;
    font-size: 1.05em;
    letter-spacing: 0.5px;
}
.post-link a:link,
.post-link a:visited {
    font-family: 'Raleway Medium', sans-serif;
    border-bottom: none;
    color: #3F3F3F;
}
.pagination a:link,
.pagination a:visited {
    font-family: 'Raleway Medium', sans-serif;
    font-size: 1.1em;
    color: #3F3F3F;
}
.entry-header-search h2 a:link,
.entry-header-search h2 a:visited {
    border-bottom: none;
    font-family: 'Raleway Medium', sans-serif;
    color: #3F3F3F;
}
.entry-header-search h3 {
    font-weight: bold;
    font-family: sans-serif;
}
.entry-header-search h3 a:link,
.entry-header-search h3 a:visited {
    color: #937da0;
    border-bottom: none;
}
.thumbnail img {
    margin: 5px 0;
}

/*
  ======================================
  5. Comments
  ======================================
*/

h3.comment-count-area {
    font-family: 'Raleway Medium', sans-serif;
    color: #3F3F3F;
    padding: 10px 0 0 0;
}
.epoch-comment-body {
    width: 95%;
}
a.comments-title:link,
a.comments-title:visited {
    color: #937da0;
    border-bottom: none;
    font-size: 1.05em;
    letter-spacing: 0.5px;
}
footer.epoch-comment-meta {
    border-top: none;
}
.epoch-comment-content p {
    font-size: 14px;
    margin-top: 10px;
}
.epoch-comment-author-avatar img.avatar {
    border-radius: 10px!important;
}
.epoch-comment-author {
    font-weight: bold;
}
#epoch-comments a.epoch-comment-link:link,
#epoch-comments a.epoch-comment-link:visited {
    font-family: sans-serif;
    font-size: small!important;
    border-bottom: none;
    color: #7e7e7e!important;
}
a.comment-reply-link:link,
a.comment-reply-link:visited {
    color: #937da0!important;
    border-bottom: none;
    font-size: 1.3em!important;
    letter-spacing: 0.5px;
}
ul.epoch-comment-actions {
    margin-top: 10px;
}
textarea,
input#author,
input#email,
input#url {
    border: 1px solid #C6C6C6!important;
    border-radius: 5px;
    outline: none;
    padding: 8px;
}
textarea:focus,
input#author:focus,
input#email:focus,
input#url:focus {
    border: 1px solid #9D8AA9!important;
}

/*
  ======================================
  6. footer
  ======================================
*/

footer {
     border-top: 1px solid #eee;
}
.footer-text {
    font-family: 'Raleway Medium', sans-serif;
}

/*
  ======================================
  7. Responsive
  ======================================
*/

@media only screen and (max-width: 750px) {

    .navbar {
        font-size: 1.1em;
        padding-left: 0.5rem; /*novo*/
    }
    .navbar li {
        padding-right: 10px;
    }
    .dropdown-menu {
        background: transparent;
    }
    .search-img img {
        max-width: 100%;
        height: auto;
        margin: 10px 0;
    }
    .content,
    #no-results,
    #page-not-found {
        text-align: justify;
        text-justify: inter-word;
        padding: 0;
        font-size: 15px;
    }
    h1 {
        letter-spacing: 0px;
        font-size: 1.6em;
    }
    h2 {
        font-size: 1.3em;
    }
    h3 {
        font-size: 1.1em;
    }
    .responsive-container iframe,
    .responsive-container object,
    .responsive-container embed,
    .responsive-container video {
      	width: 100%;
      	height: 100%;
    }
    .content img {
        max-width: 100%;
        height: auto;
    }
    .pagination a:link,
    .pagination a:visited {
        font-size: 0.95em;
    }
    .post-link {
        font-size: 0.95em;
    }
    .widget {
        margin-bottom: 25px;
    }
    .epoch-comment-body {
        width: 100%;
    }
    #epoch-wrap #epoch-comments .epoch-child {
        border-left: none!important;
    }

}
